language: ruby
sudo: false
cache: bundler
addons:
  postgresql: '10'
services:
  - mysql
bundler_args: --without development
before_script:
  - "sh -e /etc/init.d/xvfb start"
  - "bundle exec rake refinery:testing:dummy_app"
script:
  - "DISPLAY=:99.0 bundle exec rspec spec"
notifications:
  irc:
    use_notice: true
    skip_join: true
    channels:
      - "irc.freenode.org#refinerycms"
  webhooks:
  - https://webhooks.gitter.im/e/b5d48907cdc89864b874
env:
  - DB=postgresql
  - DB=mysql
rvm:
  - 2.6

